{% assign category = article.tags | first %}
<a class="article-grid" href="{{ article.url }}">
  <div class="article-grid__wrapper">
    <div class="article-grid__image-wrapper">
      {% if article.image %}
        <img src="{{ article.image | img_url: '620x480', crop: 'center' }} " alt="image" class="article-grid__image" width="310px" height="240px">

        <span class="article-grid__tag">{{ category }}</span>
      {% else %}
        <img src="{{ 'hero-mobile.png' | asset_img_url: '620x480', crop: 'center' }}" alt="article placeholder">
      {% endif %}
    </div>

    <div class="article-grid__content">
      <div class="article-grid__meta">
        <time class="article__postdate" pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time>&nbsp;|&nbsp;<span class="article__author">{{ article.author }}</span>
      </div>

      <h3 class="article-grid__title h4">{{ article.title }}</h3>

      <span class="article-grid__link underline">VIEW MORE</span>
    </div>
  </div>
</a>